# Dependencies
node_modules/
.pnpm-store/

# Next.js Build
frontend/.next/
frontend/out/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.venv/
env/
venv/
ENV/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
